@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Applying CSS to all elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}


/* CSS for body */

body {
    background-image: url(../images/best-actors.jpg);
    background-color: darkgreen;
    background-size: cover;
    width: 100%;
    height: 100%;
}


/* positioning the checkout block */

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 350px;
}


/* Flex will push the bottom half of form (mycheckout) 
to the right, next to product info */

.wrapper .checkout-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}


/* wrapper css for the whole checkout tab */

.wrapper .checkout-wrapper .checkout-product-info {
    width: 65%;
    background: antiquewhite;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    position: relative;
}


/* adjustment for the image */

.wrapper .checkout-wrapper .checkout-product-info img {
    width: 180px;
    margin-top: 30px;
    margin-left: 5px;
}


/* headertext of the checkout screen  */

.wrapper .checkout-wrapper .checkout-product-info .content {
    text-align: center;
    margin-top: 25px;
    color: blue;
    text-transform: uppercase;
}


/* header */

.wrapper .checkout-wrapper .checkout-product-info .content h3 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 3px;
}

.wrapper .checkout-wrapper .checkout-product-info .content p {
    font-size: 14px;
    margin-top: 10px;
}


/* This css is modifying the right hand side of the checkout page */

.wrapper .checkout-wrapper .checkout-form {
    width: 55%;
    background: #fff;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    padding: 50px 30px;
}

.wrapper .checkout-wrapper .checkout-form p {
    margin-bottom: 25px;
    font-size: 18px;
    text-transform: uppercase;
}

.wrapper .checkout-wrapper .checkout-form .section {
    margin-bottom: 15px;
}

.wrapper .checkout-wrapper .checkout-form .section input[type="text"] {
    width: 100%;
    padding: 5px;
}

.wrapper .checkout-wrapper .checkout-form .section input[type="text"]:focus {
    border-color: lightblue;
}

.wrapper .checkout-wrapper .checkout-form .section.last_section {
    display: flex;
    justify-content: space-between;
}

.wrapper .checkout-wrapper .checkout-form .section.last_section {
    width: 80%;
}