

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Applying CSS to all elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    align-self: center;
}


/* CSS for body */

body:before{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/best-actors.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);}

/* positioning the checkout block */

.wrapper {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
}


/* Flex will push the bottom half of form (mycheckout) 
  to the right, next to product info */

.wrapper .checkout-wrapper {
    width: 40%;
    height: 500px;
    display: flex;
    align-self: center;
}


/* wrapper css for the whole checkout tab */


/* LEFT HAND SIDE OF CHECKOUT FORM */

.wrapper .checkout-wrapper .checkout-product-info {
    width: 400px;
    height: 500px;
    background-color: rgba(247, 243, 243, 0.788);
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    position: relative;
}


/* adjustment for the image */

.wrapper .checkout-wrapper .checkout-product-info img {
    width: 250px;
    margin-top: 30px;
    margin-left: 15px;
    height: 500px;
}


/* headertext of the checkout screen  */

.wrapper .checkout-wrapper .checkout-product-info .content {
    text-align: center;
    margin-top: 25px;
    color: #DE080D;
    text-transform: uppercase;
    margin-left: 30px;
}


/* header */

.wrapper .checkout-wrapper .checkout-product-info .content h3 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 3px;
}

.wrapper .checkout-wrapper .checkout-product-info .content p {
    font-size: 12px;
    margin-top: -10px;
}

.wrapper .checkout-wrapper .checkout-product-info .content .previous {
    background-color: rgb(253, 253, 253);
    color: black;
}

.wrapper .checkout-wrapper .checkout-product-info .content .next {
    background-color: rgb(253, 253, 253);
    color: black;
    margin-left: 45%;
}

.wrapper .checkout-wrapper .checkout-product-info .content .a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-inline: solid;
    border-color: black;
}

.wrapper .checkout-wrapper .checkout-product-info .content a:hover {
    background-color: #101ff8;
    color: black;
}


/*  RIGHT HAND SIDE of CHECKOUT PAGE */


/* Right hand side of the checkout page */

.wrapper .checkout-wrapper .checkout-form {
    width: 125%;
    height: 100%;
    background: #fff;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    padding: 50px 30px;
}

.wrapper .checkout-wrapper .checkout-form p {
    margin-bottom: 25px;
    font-size: 18px;
    text-transform: uppercase;
}

.wrapper .checkout-wrapper .checkout-form .section {
    margin-bottom: 15px;
}

.wrapper .checkout-wrapper .checkout-form .section input[type="text"] {
    width: 100%;
    padding: 5px;
}

.wrapper .checkout-wrapper .checkout-form .section input[type="text"]:focus {
    border-color: lightblue;
}

.wrapper .checkout-wrapper .checkout-form .section.last_section {
    display: block;
    justify-content: space-between;
}

.wrapper .checkout-wrapper .checkout-form .section.last_section {
    width: 80%;
}

.wrapper .checkout-wrapper .checkout-form .section.last_section {
    width: 80%;
}


/* placing a gap under the pay/ rent button */

.wrapper .checkout-wrapper .checkout-form .btn {
    margin-bottom: 0px;
}


/* placing a gap ontop of the pay/ rent button */

.wrapper .checkout-wrapper .checkout-form .btn2 {
    margin-top: 0;
}


/* adding CSS to OR button */

.wrapper .checkout-wrapper .checkout-form .OR {
    margin-top: 10px;
    margin-bottom: -12px;
}