.address{
    width: 300px;
    padding:10px; 
    border-radius: 5px;
}
.character{
    width: 300px; 
    padding:10px;
    border-radius: 5px;
}
body{
    max-width: 500px; 
    margin: 0 auto; 
    padding: 0 15px; 
    background-color: #dedede;
    background-image: url(../images/bkgd.jpg);
}
#navbar {
    overflow: hidden;
    background-color: rgb(209, 135, 24);
  }
  #navbar a {
    float: left;
    font-size: 17px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  #navbar ul{
    margin:8px 0 0 0;
    list-style:none;
  }
 
  #navbar a:hover, #dropdown:hover #dropbtn {
    background-color: deeppink;
  }
  
#heading{
    text-align: center; 
    padding-top: 50px;
    padding:50px;
}
#btn{
    background-color: rgb(52, 52, 241);
    padding:8px;
    width: 325px;
    font-weight: bold;
    color: wheat; 
    border-radius: 5px;
}
.ref{
    margin-left: 290px;  
    text-decoration:none;
}