body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url();
    background-size: cover;
    background-position: center; */
}


/*navbar css*/

#navbar {
    overflow: hidden;
    background-color: rgb(209, 160, 24);
}

#navbar a {
    float: left;
    font-size: 17px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar ul {
    margin: 8px 0 0 0;
    list-style: none;
}

#navbar a:hover,
#dropdown:hover #dropbtn {
    background-color: deeppink;
}


/* Nav bar css stops here */

.sign-up-form {
    width: 350px;
    box-shadow: 0 0 3px 0 rgba(red, green, blue, alpha);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}

.sign-up-form h1 {
    color: black;
    font-weight: bold;
}

.sign-up-btn {
    margin: 5% auto 5%;
}

.or {
    margin: 5% auto 5%;
}

.sign-up-form .input-box {
    width: 60%;
}